#load a module and give it a unique name
load DummyModule Dummy1
load DummyModule Dummy2

load IRCModule QuakeNet

#stalk <modname> <extname> <intname_1> [ <intname_2> ... ]
stalk Dummy1 "teh fisted" fisted "fisted_" fisted__
stalk Dummy1 "guest acc" guest

stalk Dummy2 "evil intruder" root

stalk QuakeNet "teh fisted" fisted fisted_
stalk QuakeNet icat icat icat_

QuakeNet_server nl.quakenet.org
QuakeNet_port 6667
QuakeNet_keepalive 1

#integer settings
Dummy1_minroll 5
Dummy2_minroll 6

#a decimal point marks the value as double
#Modname_somedouble 3.1415

#Modname_somestring ohai faggets

#kernel setting
pollint 25
